body {
  margin: 0;
  font-family: Arial;
  background: #0d0d12;
  color: white;
}

header {
  background: #1a1a26;
  padding: 15px;
  text-align: center;
  font-size: 22px;
}

.container {
  width: 90%;
  margin: auto;
}

.card {
  background: #1c1c2a;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
}

a {
  color: #8a7dff;
  text-decoration: none;
}
